:root {
    --light-gray: rgb(236, 236, 236);
    --mint-green: rgb(159, 211, 199);
    --deep-blue: rgb(56, 81, 112);
    --dark-blue: rgb(20, 45, 76);

    --light-gray-transparent-50: rgba(236, 236, 236, 0.5);
    --mint-green-transparent-50: rgba(159, 211, 199, 0.5);
    --deep-blue-transparent-50: rgba(56, 81, 112, 0.5);
    --dark-blue-transparent-50: rgba(20, 45, 76, 0.5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--light-gray);
}

.form-group {
    margin-bottom: 10px;
}