:root {
    --light-gray: #ececec;
    --mint-green: #9fd3c7;
    --deep-blue: #385170;
    --dark-blue: #142d4c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}


.page {
    width: 80%;
    margin: 30px auto;
}

body {
    margin: 0;
    padding: 0;
}