.block {
    border-radius: 10px;
    padding: 20px;
    margin: 15px;

    box-shadow: 0 0 15px rgb(136, 217, 255, 0.5);
    background-image: linear-gradient(90deg, rgb(255, 180, 218, 0.5) -50%, rgb(135, 227, 255, 0.5));

    text-align: justify;

    line-height: 1.25em;
}

.block ul {
    margin-left: 30px;
}
  
.block p {
    margin: 10px 0;
}

.block blockquote {
    padding: revert;
    margin: revert;
}

.block :last-child {
    margin-bottom: 0;
}
