.page {
    width: 80%;
    margin: 30px auto;
}

.content-container {
    display: flex;
    margin-top: 10px;
}

.sidebar {
    width: 25%;
    padding: 0;
    margin-right: 20px;
}

.main-content {
    width: 75%;
}



.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.loginForm {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.banner-image {
    width: 100%;
    animation: moveAndRotate 4s linear infinite;
    box-shadow: 0 0 15px 0 var(--deep-blue);
    object-fit: cover;
    border-radius: 20px;
}

.banner-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

@keyframes moveAndRotate {
    0% {
        transform: translate(-1%, -2%) rotate(-1deg);
    }

    50% {
        transform: translate(1%, 2%) rotate(1deg);
    }

    100% {
        transform: translate(-1%, -2%) rotate(-1deg);
    }
}