.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardContent {
    margin: 16px;
}

.title {
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-weight: bold;
}

.description {
    margin-bottom: 8px;
    word-wrap: break-word; 
}

.cost {
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 10px;
    margin: 16px;
}
